include ../../utils/mixins

header.header
	.container.header__container
		+img('logo.svg', '', 'логотип сервиса wishlist в виде буквы W')
		nav.header__nav.nav
			button.nav__btn.btn Зарегистрироваться
			button.nav__btn.btn Войти
		button.header__burger.burger 
			span.burger__line