section.hero
	.container.hero__container
		h1.hero__title Wishlist
		p.hero__description Никогда нес&nbsp;поздно поставить новую цель или обрести новую мечту... 
		ol.hero__steps.steps 
			li.steps__item Создайте список желаний
			li.steps__item Поделитесь ссылкой с&nbsp;друзьями
			li.steps__item Получите желанный подарок