extends ../layout/main

block variables
	- var title = 'Wishlist - список моих желаний';
	- var description = 'Wishlist Service';
	- var pageClass = 'body';
	- var author = 'Kostyantin';



block content
	include ../includes/modules/header
	main.app


