include ../utils/mixins

block variables

doctype html
html(lang='ru')
	head

		//- Meta
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		//- SEO

		//- Basic Seo
		block basicSeo
			meta(name='description' content=description)
			meta(name='keywords', content='index, page')
			meta(name='author' content=author)

		block links

			link(rel='apple-touch-icon', sizes='180x180', href='assets/img/favicons/apple-touch-icon.png')
			link(rel='icon', type='image/png', sizes='192x192', href='assets/img/favicons/android-icon-192x192.png')
			link(rel='icon', type='image/png', sizes='512x512', href='assets/img/favicons/favicon-512x512.png')
			link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicons/favicon-32x32.png')
			link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicons/favicon-16x16.png')


		//- Title
		block title
			title #{title}

		//- block manifestBrowserconfigFiles
		//-   link(rel='manifest', href='./manifest.json')

	body(class=pageClass)
		//- block content
		block content


		//- block scripts
		block scripts
